<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
		  type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		  requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="pathFileLog" value="c:\temp\"/>
		<add key="uriBase" value="https://psamperu.helmconnect.com" />
		<add key="apiKey" value="X4J%2bH6Hx6RGCUdhHvL4UP0gzRTJ1dW96ODhMaVNUWVZEbDk4" />
		<add key="mediaType" value="application/json"/>
		<add key="setPosted" value="false"/>
		<add key="ofisisAtiva" value="true"/>
		<add key="facturaAtiva" value="true"/>
		<add key="CorreoErrorEnvio" value="alertasti@psamperu.com|PsamPeru2020$|Interface de Ventas"/>
		<add key="CorreoErrorPara" value="eslee@dcp.pe,Eduardo"/>
		<add key="CorreoErrorCC" value="eslee@dcp.pe,"/>
		<add key="CorreoErrorCO" value=""/>
		<add key="timeOutSqlCommand" value="3600"/>
	</appSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="HELMEntities" connectionString="metadata=res://*/HelmEntities.csdl|res://*/HelmEntities.ssdl|res://*/HelmEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql.dcp.pe;initial catalog=InterfacesDB;user id=adminsql;password=Admin123456$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="BDIntermedia" connectionString="Data Source=devsql.dcp.pe;Initial Catalog=InterfacesDB;user id=adminsql;password=Admin123456$;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="TRAMARSAEntities" connectionString="metadata=res://*/TramarsaEntities.csdl|res://*/TramarsaEntities.ssdl|res://*/TramarsaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql.dcp.pe;initial catalog=TRAMARSA;user id=adminsql;password=Admin123456$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>