<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="HELMEntities" connectionString="metadata=res://*/HelmEntities.csdl|res://*/HelmEntities.ssdl|res://*/HelmEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqltest.flota.com.pe;initial catalog=InterfacesDB;persist security info=True;user id=adminsql;password=Sistemas2;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRAMARSAEntities" connectionString="metadata=res://*/TRAMARSAEntities.csdl|res://*/TRAMARSAEntities.ssdl|res://*/TRAMARSAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V0HHB67\SQLEXPRESS;initial catalog=TRAMARSA;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HELMEntities" connectionString="metadata=res://*/HelmEntities.csdl|res://*/HelmEntities.ssdl|res://*/HelmEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlqa.psamperu.com;initial catalog=InterfacesDB;persist security info=True;user id=adminsql;password=Sistemas2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRAMARSAEntities" connectionString="metadata=res://*/TRAMARSAEntities.csdl|res://*/TRAMARSAEntities.ssdl|res://*/TRAMARSAEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlqa.psamperu.com;initial catalog=TRAMARSA;persist security info=True;user id=adminsql;password=Sistemas2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>